@use "./partials/variables.scss" as *;

@import "/node_modules/bootstrap/scss/bootstrap.scss";




html{
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: $main-bg;
}

img{
    width: 100%;
}

h1{
    color: white;
}
.container_custom{
    margin: 0 auto;
    width: 70%;
    max-width: 1100px;
    background-color: white;
    padding: 2em;
}